*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/3695238/pexels-photo-3695238.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    /* z-index: 0; */
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 500px;
    overflow: hidden;
    /* z-index: -1; */
  }

.image-container {
    position: relative;
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    /* z-index: 1; */
}

.action-buttons{
    position: absolute;
    top: 80%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    
    width: 300px;
    
    position: absolute;
    bottom: 20%;
    left: 39%;
    
}

button{
    
    align-items: center;
    width: 60px;
    height: 50px;
    /* border: 2px solid red; */
    background: transparent;
    border: none;
    padding: 10px;
    color: rgb(82, 82, 82);
    font-size: 2rem;

}

